<div class="row">

<div class="col-md-8">
    <p [ngStyle]="{'text-decoration': getStyle()}">{{task.id}}. {{task.name}}: {{task.description}}</p>
</div>
<div class="col-md-4 pull-right">
    <button class="btn btn-success btn-sm" type="button" (click)="onDone()">Toggle Done</button>
    <button *ngIf="!task.done" class="btn btn-primary btn-sm" type="button" (click)="onEdit()">Edit</button>
    <button *ngIf="!task.done" class="btn btn-danger btn-sm" type="button" (click)="onDelete()">Delete</button>
</div>
</div>
