
<div class="container">
  <div class="col-md-12">
    <div class="row">
      <app-header></app-header>
    </div>
  <hr>
  <div class="row">
      <app-todo-add *ngIf="isAddVisible()" (addedTask)="onTaskAdded($event)"></app-todo-add>
  </div>
  <div class="row">
      <app-todo-edit *ngIf="!isAddVisible()" [task]="selectedTask" (editDoneEvent)="onEditDoneEvent()"></app-todo-edit>
    </div>
  <div class="row">
      <app-todo-list *ngIf="isAddVisible()" [tasks] = "tasks" (taskActionEvent)="onTaskAction($event)"></app-todo-list>
  </div>
</div>
</div>
